<!DOCTYPE html>
<html ng-app="quaver">
  <head>
    <title>Quaver</title>

    <script src="aurora/aurora.js"></script>
    <script src="aurora/mp3.js"></script>
    <script src="aurora/flac.js"></script>
    <script src="aurora/aac.js"></script>
    <script src="aurora/alac.js"></script>

    <script src="angular/angular.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    We are using node <script>document.write(process.versions.node)</script>,
    Chrome <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.

    <table style="margin:50px 0; width:400px;">
      <tr ng-repeat="item in fileList track by $index">
        <td><a href="" ng-click="createPlayer(item)">{{ item }}</a></td>
      </tr>
    </table>

    <table style="margin:50px 0; width:400px;">
      <tr>
        <td><a href="" ng-click="toggle()">Play/Pause</a></td>
        <td><a href="" ng-click="stop()">Stop</a></td>
      </tr>
    </table>

    <div>
      <h3>{{ metadata.title }}</h3>
      <span>{{ metadata.artist }} - {{ metadata.album }}</span><br>
      <h4>{{ progress }} &nbsp;&nbsp; -- &nbsp;&nbsp; {{ duration }}</h4>
    </div>

  </body>
</html>
