<!DOCTYPE html>
<html ng-app="quaver">
  <head>
    <title>Quaver</title>

    <script src="aurora/aurora.js"></script>
    <script src="aurora/mp3.js"></script>
    <script src="aurora/flac.js"></script>
    <script src="aurora/aac.js"></script>
    <script src="aurora/alac.js"></script>

    <script src="angular/angular.js"></script>
    <script src="js/app.js"></script>

    <script>
      var remote = require('remote');
    </script>
  </head>
  <body ng-controller="MainCtrl">
    <h1>Hello World!</h1>
    We are using node <script>document.write(process.versions.node)</script>,
    Chrome <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.

    <table style="margin-top:100px; width:400px;">
      <tr>
        <td><a href="" ng-click="play()">Play</a></td>
        <td><a href="" ng-click="pause()">Pause</a></td>
        <td><a href="" ng-click="stop()">Stop</a></td>
      </tr>
    </table>

  </body>
</html>
